In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import csv
import numpy as np
import pandas as pd
import pickle
import random
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
appos = {
"aren't" : "are not",
"can't" : "cannot",
"couldn't" : "could not",
"didn't" : "did not",
"doesn't" : "does not",
"don't" : "do not",
"hadn't" : "had not",
"hasn't" : "has not",
"haven't" : "have not",
"he'd" : "he would",
"he'll" : "he will",
"he's" : "he is",
"i'd" : "I would",
"i'd" : "I had",
"i'll" : "I will",
"i'm" : "I am",
"isn't" : "is not",
"it's" : "it is",
"it'll":"it will",
"i've" : "I have",
"let's" : "let us",
"mightn't" : "might not",
"mustn't" : "must not",
"shan't" : "shall not",
"she'd" : "she would",
"she'll" : "she will",
"she's" : "she is",
"shouldn't" : "should not",
"that's" : "that is",
"there's" : "there is",
"they'd" : "they would",
"they'll" : "they will",
"they're" : "they are",
"they've" : "they have",
"we'd" : "we would",
"we're" : "we are",
"weren't" : "were not",
"we've" : "we have",
"what'll" : "what will",
"what're" : "what are",
"what's" : "what is",
"what've" : "what have",
"where's" : "where is",
"who'd" : "who would",
"who'll" : "who will",
"who're" : "who are",
"who's" : "who is",
"who've" : "who have",
"won't" : "will not",
"wouldn't" : "would not",
"you'd" : "you would",
"you'll" : "you will",
"you're" : "you are",
"you've" : "you have",
"'re": " are",
"wasn't": "was not",
"we'll":" will",
"didn't": "did not",
"c'mon": "come on"
}

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
!pip install bnlp_toolkit
!pip install bangla-stemmer

Collecting bnlp_toolkit
  Downloading bnlp_toolkit-3.1.2-py3-none-any.whl (17 kB)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (3.2.5)
Collecting gensim==4.0.1
  Downloading gensim-4.0.1-cp37-cp37m-manylinux1_x86_64.whl (23.9 MB)
     |████████████████████████████████| 23.9 MB 1.7 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (1.19.5)
Collecting sklearn-crfsuite
  Downloading sklearn_crfsuite-0.3.6-py2.py3-none-any.whl (12 kB)
Collecting sentencepiece
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 39.4 MB/s
Requirement already satisfied: wasabi in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (0.9.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (1.4.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim==4.0.1->bnlp_toolkit) (5.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->bnlp_toolkit) (1.15.0)
Collecting python-crfsuite>=0.8.3
  Downloading python_crfsuite-0.9.7-cp37-cp37m-manylinux1_x86_64.whl (743 kB)
     |████████████████████████████████| 743 kB 47.0 MB/s
Requirement already satisfied: tqdm>=2.0 in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (4.62.3)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (0.8.9)
Installing collected packages: python-crfsuite, sklearn-crfsuite, sentencepiece, gensim, bnlp-toolkit
  Attempting uninstall: gensim
    Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
Successfully installed bnlp-toolkit-3.1.2 gensim-4.0.1 python-crfsuite-0.9.7 sentencepiece-0.1.96 sklearn-crfsuite-0.3.6
Collecting bangla-stemmer
  Downloading bangla_stemmer-1.0-py3-none-any.whl (9.1 kB)
Installing collected packages: bangla-stemmer
Successfully installed bangla-stemmer-1.0

In [ ]:
from bnlp import BasicTokenizer
basic_tokenizer = BasicTokenizer()

/usr/local/lib/python3.7/dist-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [ ]:





!pip install fasttext

Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     |████████████████████████████████| 68 kB 4.6 MB/s
Collecting pybind11>=2.2
  Using cached pybind11-2.9.0-py2.py3-none-any.whl (210 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext) (1.19.5)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp37-cp37m-linux_x86_64.whl size=3124853 sha256=36f6638d87b16166a5e1bcb5ba65a01a84e88ec0b430be898c9442b504b28157
  Stored in directory: /root/.cache/pip/wheels/4e/ca/bf/b020d2be95f7641801a6597a29c8f4f19e38f9c02a345bab9b
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.9.0

In [ ]:
!pip install python-Levenshtein

Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 2.9 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein) (57.4.0)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149863 sha256=d7e8a128cb19bfefb8933b183d3b10018941f61ff08258ba229e287c2ee98955
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.2

In [ ]:
from bnlp.embedding.fasttext import BengaliFasttext
 
bft = BengaliFasttext()

fasttext not installed. Install it by 'pip install fasttext'

In [ ]:
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
import os

In [ ]:
de = pd.read_csv("/content/drive/MyDrive/Fake_News Dataset/Authentic-48K.csv")

In [ ]:
de.head()

   articleID  ... label
0          1  ...     1
1          2  ...     1
2          3  ...     1
3          4  ...     1
4          5  ...     1

[5 rows x 7 columns]

In [ ]:
de.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48678 entries, 0 to 48677
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   articleID  48678 non-null  int64
 1   domain     48678 non-null  object
 2   date       48678 non-null  object
 3   category   48678 non-null  object
 4   headline   48678 non-null  object
 5   content    48678 non-null  object
 6   label      48678 non-null  int64
dtypes: int64(2), object(5)
memory usage: 2.6+ MB

In [ ]:
de.describe()

          articleID    label
count  48678.000000  48678.0
mean   30829.876207      1.0
std    17910.688444      0.0
min        1.000000      1.0
25%    15340.250000      1.0
50%    30822.500000      1.0
75%    46391.750000      1.0
max    61780.000000      1.0

In [ ]:
df_true = pd.read_csv('/content/drive/MyDrive/Fake_News Dataset/LabeledAuthentic-7K.csv')
df_fake = pd.read_csv('/content/drive/MyDrive/Fake_News Dataset/Fake-1K.csv')

In [ ]:
df_fake.head()

   articleID  ... label
0          1  ...     0
1          2  ...     0
2          3  ...     0
3          4  ...     0
4          5  ...     0

[5 rows x 7 columns]

In [ ]:
df_true.head()

   articleID  ... label
0          1  ...   1.0
1          2  ...   1.0
2          3  ...   1.0
3          4  ...   1.0
4          5  ...   1.0

[5 rows x 9 columns]

In [ ]:
df_true = df_true.drop(['relation'], axis=1)

In [ ]:
df_true

      articleID  ... label
0             1  ...   1.0
1             2  ...   1.0
2             3  ...   1.0
3             4  ...   1.0
4             5  ...   1.0
...         ...  ...   ...
7197       8263  ...   1.0
7198       8265  ...   1.0
7199       8266  ...   1.0
7200       8267  ...   1.0
7201       8268  ...   1.0

[7202 rows x 8 columns]

In [ ]:
df = pd.concat([df_true, df_fake])

In [ ]:
df.head()

   articleID  ... label
0          1  ...   1.0
1          2  ...   1.0
2          3  ...   1.0
3          4  ...   1.0
4          5  ...   1.0

[5 rows x 8 columns]

In [ ]:
df = shuffle(df)

In [ ]:
df.reset_index(inplace=True, drop=True)

In [ ]:
df.head()

NameError: ignored

In [ ]:
os.mkdir("/content/drive/MyDrive/Fake_News Dataset/Train_test")

In [ ]:
df.to_csv('/content/drive/MyDrive/Fake_News Dataset/Train_test/TrainTest.csv')

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Fake_News Dataset/Train_test/TrainTest.csv')

In [ ]:
data.head()

   articleID                                            content  label
0       3961  ঢাকা: আগামী ২৪ ঘণ্টায় গাইবান্ধা, বগুড়া, সিরাজগ...    1.0
1       7919  কুয়াকাটা সংলগ্ন বঙ্গোপসাগরে ভয়াল উত্তাল ঢেউয়ের...    1.0
2        760  ফেসবুকে নিয়মিত অসাম্প্রদায়িকতার শ্লোগান দেয়া ঠ...    0.0
3       2055  ভুবনেশ্বর কুমারের এলবিডাব্লিউয়ের আবেদনে আঙুল ত...    1.0
4       5711  সনাতন ধর্মাবলম্বীদের সবচেয়ে বড় উৎসব শারদীয় দুর...    1.0

In [ ]:
data = data[["articleID","content","label"]]

In [ ]:
train ,test = train_test_split(data, test_size = 0.3)

In [ ]:
os.mkdir("/content/drive/MyDrive/Fake_News Dataset/Data")

FileExistsError: ignored

In [ ]:
train.to_csv('/content/drive/MyDrive/Fake_News Dataset/Data/train.csv')

In [ ]:
test.to_csv('/content/drive/MyDrive/Fake_News Dataset/Data/test.csv')

In [ ]:
from bnlp import BengaliWord2Vec
bwv = BengaliWord2Vec()

In [ ]:
def eng_number_to_bngnumber(data):
  i =0

  for w in data['content']:
    text = w
    text = text.replace('1', '১')
    text = text.replace('2', '২')
    text = text.replace('3', '৩')
    text = text.replace('4', '৪')
    text = text.replace('5', '৫')
    text = text.replace('6', '৬')
    text = text.replace('7', '৭')
    text = text.replace('8', '৮')
    text = text.replace('9', '৯')
    text = text.replace('0', '০')


    data.at[i, 'content']=text

    i+=1

  return data

In [ ]:
train_df = pd.read_csv("/content/drive/MyDrive/Fake_News Dataset/Data/train.csv")

In [ ]:
train_df.head()

   Unnamed: 0  ...  label
0        7303  ...    1.0
1        1934  ...    1.0
2        5539  ...    0.0
3        2035  ...    1.0
4         321  ...    1.0

[5 rows x 4 columns]

In [ ]:
data = eng_number_to_bngnumber(train_df)

In [ ]:
print(train_df.content[200])

নির্ধারিত সময়ে শেষ হচ্ছে না পটুয়াখালীর পায়রা সেতুর নির্মাণ কাজ। নির্ধারিত সময়ের চেয়ে কয়েক মাস বেশি সময় লাগবে বলে জানিয়েছেন প্রকৌশলীরা। ঢাকা-পটুয়াখালী মহাসড়কে পায়রা নদীর উপর নির্মিত হচ্ছে চার লেনের পায়রা সেতু। এরই মধ্যে মূল সেতুর ৫২টি পিলারের মধ্যে ২২ টির কাজ সম্পন্ন হয়েছে। শুরু হয়েছে নদী রক্ষার কাজও। সেতুটি নির্মাণ করছে চীনের ঠিকাদারী প্রতিষ্ঠান লনজিয়ান রোড অ্যান্ড ব্রিজ কনেস্টাকশন। খরস্রোতা পায়রার গতিপথ ও নৌযান চলাচল স্বাভাবিক রাখতে নদীর মাঝে মাত্র একটি পিলার রাখা হয়েছে। পানির স্তর থেকে সেতুর উচ্চতা থাকছে ১৮.৩ মিটার। এক হাজার দুইশ ৭৮ কোটি টাকা ব্যয়ে নির্মিত সেতুটির দৈর্ঘ্যে ১৪৭০ মিটার এবং প্রস্থ ১৯.৭৬ মিটার।

In [ ]:
len(train_df)

5950

In [ ]:
print(chr(2404))

।

In [ ]:
## This part is use for removing unnecessary puntuation mark
 
 
def process(data):
 
  rem_c ="‘!\"#$%&'(),-./:;=<>?@[]^_`{|}~¥§©’‚“”‪™−√∝∞৷"+ chr(2404)
 
 
  #chr(2404) == '|' mane banglar dari..
 
  ii = 0
 
  for w in data['content']:
    text = w
    st = ""
    tokens = basic_tokenizer.tokenize(text)
    for t in tokens:
      if (t in rem_c):
        st += ' '
      else:
        st += t
      st +=' '
 
    data.at[ii,'content']=st
    
 
 
    ii +=1

  print(data.head(5))
  return data

In [ ]:
data = process(train_df)

In [ ]:
data.head()

NameError: ignored

In [ ]:
def bangla_corpus(filepath):
  # dataframe = pd.read_csv(filepath)
  dataframe = filepath
  string = ""

  #dataframe = [data.content]

  for w in dataframe['content']:
    string += w
    string += '\n'

  with open('/content/drive/MyDrive/Fake_News Dataset/Mycorpus.txt', 'w') as f:
    f.write(string)

In [ ]:
filepath = '/content/drive/MyDrive/Fake_News Dataset/Train_test/TrainTest.csv'

In [ ]:
bangla_corpus(filepath = dx)

In [ ]:
# from bnlp.bengali_word2vec import Bengali_Word2Vec
# bwv = Bengali_Word2Vec(True)

import gensim

model =  gensim.models.Word2Vec.load("/content/drive/MyDrive/bangla_word2vec_gen4/bangla_word2vec/bnwiki_word2vec.model")

In [ ]:
# model.wv.vocab


from bnlp import BengaliWord2Vec

bwv = BengaliWord2Vec()

In [ ]:
model.wv.most_similar('মুনির')

[('ঋষির', 0.830276608467102),
 ('শ্রীকৃষ্ণের', 0.8107250928878784),
 ('ইন্দ্রের', 0.806204617023468),
 ('সীতার', 0.7881607413291931),
 ('ব্রহ্মার', 0.782832145690918),
 ('বশিষ্ঠের', 0.7819014191627502),
 ('অর্জুনের', 0.7765858769416809),
 ('ব্যাসদেবের', 0.7729774117469788),
 ('গোস্বামীর', 0.7727312445640564),
 ('সরস্বতীর', 0.7726246118545532)]

In [ ]:
dataff = pd.read_csv('/content/drive/MyDrive/Fake_News Dataset/Train_test/TrainTest.csv')

In [ ]:
dataff = eng_number_to_bngnumber(data)

In [ ]:
dataff.head()

   articleID                                            content  label
0       3961  ঢাকা আগামী ২৪ ঘণ্টায় গাইবান্ধা বগুড়া সিরাজগঞ্জ...    1.0
1       7919  কুয়াকাটা সংলগ্ন বঙ্গোপসাগরে ভয়াল উত্তাল ঢেউয়ের...    1.0
2        760  ফেসবুকে নিয়মিত অসাম্প্রদায়িকতার শ্লোগান দেয়া ঠ...    0.0
3       2055  ভুবনেশ্বর কুমারের এলবিডাব্লিউয়ের আবেদনে আঙুল ত...    1.0
4       5711  সনাতন ধর্মাবলম্বীদের সবচেয়ে বড় উৎসব শারদীয় দুর...    1.0

In [ ]:
data_process = process(dataff)
data_process.to_csv('/content/drive/MyDrive/Fake_News Dataset/Train_test/TrainTest_puncremove.csv', index= False , header = True)

   articleID                                            content  label
0       3961  ঢাকা আগামী ২৪ ঘণ্টায় গাইবান্ধা বগুড়া সিরাজগঞ্জ...    1.0
1       7919  কুয়াকাটা সংলগ্ন বঙ্গোপসাগরে ভয়াল উত্তাল ঢেউয়ের...    1.0
2        760  ফেসবুকে নিয়মিত অসাম্প্রদায়িকতার শ্লোগান দেয়া ঠ...    0.0
3       2055  ভুবনেশ্বর কুমারের এলবিডাব্লিউয়ের আবেদনে আঙুল ত...    1.0
4       5711  সনাতন ধর্মাবলম্বীদের সবচেয়ে বড় উৎসব শারদীয় দুর...    1.0

In [ ]:
dx = pd.read_csv('/content/drive/MyDrive/Fake_News Dataset/Train_test/TrainTest_puncremove.csv')

In [ ]:
dx.head(5)

   articleID                                            content  label
0       3961  ঢাকা আগামী ২৪ ঘণ্টায় গাইবান্ধা বগুড়া সিরাজগঞ্জ...    1.0
1       7919  কুয়াকাটা সংলগ্ন বঙ্গোপসাগরে ভয়াল উত্তাল ঢেউয়ের...    1.0
2        760  ফেসবুকে নিয়মিত অসাম্প্রদায়িকতার শ্লোগান দেয়া ঠ...    0.0
3       2055  ভুবনেশ্বর কুমারের এলবিডাব্লিউয়ের আবেদনে আঙুল ত...    1.0
4       5711  সনাতন ধর্মাবলম্বীদের সবচেয়ে বড় উৎসব শারদীয় দুর...    1.0

In [ ]:

#This function can remove english sentence but cant remove car number plate or pattern etc.


def english_removal(data):


  ii =0



  for w in data['content']:

    text = w 

    text = re.sub(r"\b[A-Za-z]+\b", "", text)

    text = re.sub(" +", " ", text).strip()

    
    data.at[ii,'content']=text
    
 
 
    ii +=1

  # print(data.head(5))
  return data

In [ ]:
data_process = english_removal(dx)
data_process.to_csv('/content/drive/MyDrive/Fake_News Dataset/Train_test/TrainTest_puncremove.csv', index= False , header = True)

In [ ]:
dx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8501 entries, 0 to 8500
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   articleID  8501 non-null   int64
 1   content    8501 non-null   object
 2   label      8501 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 199.4+ KB

In [ ]:
dx.groupby(['label'])['content'].count()

label
0.0    1299
1.0    7202
Name: content, dtype: int64